#main {
    margin-top: 65px;
    display: flex;
    
    #aside{
        width: 20%;
        min-height: 100vh;
        border-right: 1px solid var(--bg--dark-border);
        padding: 20px;

        button {
            display: block;
            font-size: 14px;
            margin-bottom: 20px;
            font-weight: 100;
            transition: all 0.5s;
            padding: 5px 10px;

            &:hover {
                background: #262635;
            }

            span:first-child {
                display: inline-block;
                margin-right: 10px;
                vertical-align: -1px;
            }
        }
    }
    #contents{
        width: 80%;
        padding: 20px;

        > h2 {
            padding: 5px 0;
            margin-bottom: 5px;
            
            em {
                color: #757575;
            }
        }
    }
}

// Videos
.videos__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    > div {
        width: 24%;
        margin-bottom: 2%;
    }
}

// VideoCard
.box {
    max-height: 200px;

    img {
        object-fit: cover;
        max-height: 200px;
    }
}

.boxInfo {
    
    .videoTitle {
        margin-top: 1%;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;

            span {
                font-size: 16px;
            }
        }

    .channelName {
        color: #c5c5c5;
        font-size: 14px;
        margin-top: 3px;
    }
}

// VideoConts
.video__top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 70px;

    .video__view {
        // background: #fff;
        width: 77%;
        height: 600px;
        margin-left: 1%;
        position: relative;

        .play {
            width: 100%;
            position: relative;
            padding-bottom: 27.65%;

            iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
    }

    .video__list {
        margin-right: 1%;
        background: #ccc;
        width: 20%;
        height: 900px;
    }

    .video__title {
        background: #757575;
        width: 77%;
        height: 80px;
        margin-left: 1%;
        position: absolute;
        bottom: 0.5%;
    }
}