#main {
    margin-top: 65px;
    display: flex;
    
    #aside{
        width: 20%;
        min-height: 100vh;
        border-right: 1px solid var(--bg--dark-border);
        padding: 20px;

        button {
            display: block;
            font-size: 14px;
            margin-bottom: 20px;
            font-weight: 100;
            transition: all 0.5s;
            padding: 5px 10px;

            &:hover {
                background: #262635;
            }

            span:first-child {
                display: inline-block;
                margin-right: 10px;
                vertical-align: -1px;
            }
        }
    }
    #contents{
        width: 80%;
        padding: 20px;

        > h2 {
            padding: 5px 0;
            margin-bottom: 5px;
            
            em {
                color: #757575;
            }
        }
    }
}

// Videos
.videos__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    > div {
        width: 24%;
        margin-bottom: 2%;
    }
}

// VideoCard
.box {

    img {
        object-fit: cover;
    }
}

.boxInfo {
    
    .videoTitle {
        margin-top: 1%;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;

            span {
                font-size: 16px;
            }
        }

    .channelName {
        color: #c5c5c5;
        font-size: 14px;
        margin-top: 3px;
    }
}

// VideoConts
.video__top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 70px;

    .video__info {
        display: flex;
        flex-wrap: wrap;
        width: 77%;

        .video__view {
            // background: #fff;
            width: 100%;
            height: 600px;
            margin-left: 1%;
            position: relative;
    
            .play {
                width: 100%;
                position: relative;
                padding-bottom: 27.65%;
    
                iframe {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
            }
        }
        
        .video__title {
            background: #757575;
            margin-top: 5%;
            width: 100%;
            height: 80px;
            margin-left: 1%;
            
            .title {
                color: #fff;
                font-size: 16px;
                margin-bottom: 5px;
                font-weight: 600;
    
                .count {
                    display: flex;
                    float: right;
                    font-weight: 400;
        
                    .viewCount {
                        margin-right: 15px;
                    }
                }
            }
    
            .channelTitle {
                font-weight: 200;
                margin-bottom: 5px;
            }
        }
    }

    .video__list {
        margin-right: 1%;
        width: 20%;
        
            .list {

                > .videos__inner {
                  
                    > div {
                        width: 100%;
                    }
                }
            }
    }
}

@media (max-width:960px) {
    
}

.channel-header {
    margin-top: 70px;
    width: 100%;
    height: 300px;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}
.channel-info {
    margin-top: -70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    h2 {
        margin-top: 10px;
        font-size: 24px;
    }

    > img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        object-fit: cover;
    }
}

.channel-info2 {
    margin-top: 20px;
    margin-bottom: 45px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;

    h3 {
        margin-bottom: 5px;
        font-size: 14px;
    }
}

.channel-videos {
    .box {
        height: auto;
    
        img {
            object-fit: cover;
            height: 255px;
        }
    }
}